/* Footer block */
.footer {
    position: relative;
    background-color: #0A2850;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

/* Content element inside footer block */
.footer__content {}

/* Logo element inside footer block */
.footer__logo {
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 80px;
}

.footer__logo-image {
    z-index: 2;
    height: 39px;
    width: 105px;
}

/* Circle element inside footer block */
.footer__circle {
    position: relative;
    bottom: 128px;
    right: 44px;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: #2F80ED;
    overflow: hidden;

}

/* Social element inside footer block */
.footer__social-heading-title {
    position: relative;
    right: 20px;
    margin-left: 990px;
    padding-left: 90px;
    bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

/* List element inside footer block */
.footer__list {
    display: block;
    align-items: end;
    justify-content: flex-end;
    position: relative;
    margin-right: 80px;
    padding-right: 80px;
    left: 80px;
    bottom: 200px;
    list-style: none;

}

/* List item element inside footer block */
.footer__list-item {
    display: block;
    align-items: end;
    position: relative;
    justify-content: flex-end;
    bottom: 108px;
    left: 1180px;

}

/* Social link element inside footer block */
.footer__social-link {
    text-decoration: none;
}

/* Social icon element inside footer block */
.footer__social-icon {
    position: relative;
    right: 10px;
    margin-top: 16px;
}

.footer__copyright {
    position: absolute;
    bottom: 108px;
    left: 80px;
    margin-bottom: 60px;
}

.footer__copyright-text,
.footer__social-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    transition: color 0.3s ease-in-out;
}