* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 720px;
    max-height: 800px;
    min-width: 1100px;
    max-width: 1600px;
    height: 100vh;
}