.page {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 720px;
    max-height: 800px;
    min-width: 1100px;
    max-width: 1600px;
    height: 100vh;
}

/* Header styles */
.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    position: relative;
    box-sizing: border-box;
    background-color: #FFFFFF;
    background-image: url("/images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigation styles */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.nav__logo {
    position: relative;
    top: 30px;
    right: 130px;
    bottom: 183px;
    margin-left: 30px;
    height: 39px;
    width: 105px;
}

.nav__links {
    position: absolute;
    right: 80px;
    top: 30px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 20px;
}

.nav__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.nav__link:hover {
    color: #2F80ED;
}


.header__content {
    position: relative;
    left: 80px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    position: absolute;
    top: 183px;
}

.span-accent {
    color: #2F80ED;
}

h1 {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
}

.header__description {
    position: relative;
    margin-top: 250px;
    top: 124px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    position: relative;
    right: 5px;
    height: 568px;
    width: 646px;
}

.header__footer-content {
    position: absolute;
    left: 80px;
    bottom: 40px;
    margin-right: 80px;
}

.header__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__footer-address {
    position: absolute;
    bottom: 40px;
    right: 80px;
    margin-block-start: 80px;
}

.header__footer {
    position: relative;
    margin-top: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Content styles */
.recipes {
    position: relative;
    background-color: #0A2850;
    height: 100vh;
    background-image: url("/images/background_recipes.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.recipes__title,
.recipes__subtitle {
    color: #ffffff;
}

.recipes__title-text {
    margin-bottom: 100px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__title {
    position: relative;
    left: 80px;
    top: 100px;
    max-width: 580px;
}

.recipes__subtitle {
    position: relative;
    left: 80px;
    top: 24px;
    max-width: 438px;
}

.recipes__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.recipe__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the left */
}

.recipes__iframe {
    width: 480px;
    height: 273px;
}

.recipes__info-text {
    display: flex;
    justify-content: space-between;
    /* Distribute space between the caption and time */
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 10px;
    width: 480px;
    /* Same width as iframe */
}

.recipes__video-caption,
.recipes__time {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
}

.recipe__content-wrapper {
    position: relative;
}




.footer {}
